<div>
    <button class="btn btn-outline-primary me-3" (click)="get400error()">400 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401error()">401 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404error()">404 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get500error()">500 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">400 ValidationError</button>

    @if(validationErrors.length > 0){
        <div class="row mt-5">
            <ul class="text-danger">
                @for(error of validationErrors; track $index){
                    <li>{{error}}</li>
                }
            </ul>
        </div>
    }

</div>
